[submodule "tmux"]
	path = tmux
	url = git@github.com:nemanjan00/tmux.git
[submodule "vim"]
	path = vim
	url = git@github.com:nemanjan00/vim.git
[submodule "i3wm"]
	path = i3wm
	url = git@github.com:nemanjan00/i3wm.git
